@import "tailwindcss";

:root {
  --shadow-1: 1px 1px 0px #b0b0b0;
  --shadow-2: 2px 2px 0px #9a9a9a;
  --shadow-3: 3px 3px 0px #838383;
  --shadow-4: 4px 4px 0px #6d6d6d;
  --shadow-5: 5px 5px 0px #565656;
  --shadow-6: 6px 6px 8px rgba(0, 0, 0, 0.3);
}

html,
body {
  font-family: "Segoe UI", "Roboto", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.text-3d-hero {
  text-shadow: var(--shadow-1), var(--shadow-2), var(--shadow-3),
    var(--shadow-4), var(--shadow-5), var(--shadow-6);
}

.perspective-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
